<h1>Listing events</h1>

<div class="row">
	<% @events.each do |event| %>
		<div class="col-xs-6 col-lg-4">
		  <h2><%= event.title %></h2>
		  <p><%= event.description %></p>
		  <p><%= link_to 'Details', event, :class => 'btn btn-default' %>
		  	<%= link_to 'Edit', edit_event_path(event)%>
		  	<%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
		  </p>
		</div>

	    
	    
	<% end %>
</div>
<%= paginate @events %>

<br>

<%= link_to 'New Event', new_event_path %>


